<!-- 

  CHEAT SHEET

  // expressie 
  {{ variabele_printen_escaped }}
  {{{ variabele_printen_unescaped }}}

  // helpers
  {{#each array}} {{/each}}
  {{#with object}} {{/with}}

  {{#block}} {{/block}}
  {{#if expressie}} {{/if}}
  {{#unless expressie}} {{/unless}}

-->

<!-- partial integreren (naam bestand zonder extensie) -->
{{> navigation }}

<article>
  <h2>welcome to handlebars,
    {{firstname}}!
  </h2>

  <blockquote>
    {{{motto}}}
    <!-- hier wordt html geëscaped -->
  </blockquote>

  <!-- Manier 1 -->
  <p>I would lik you to meet my brother
    {{person.lastname}}!</p>

  <!-- Manier 2 -->
  <!-- context -->
  {{#with partner}}
    <p>i love my wife: {{firstname}} {{lastname}}</p>
  {{/with}}
</article>

{{!-- <article class="dinos">
  <h2>I have dinos as friends</h2>
  <ul>
    {{#each friends}}
      <li>
        {{#if name}}
          <h3> {{name}}</h3>

          {{#em}}
          Dit is een test 
          {{/em}}
        {{else}}
          <h3>Unknown</h3>
        {{/if}}
        <p> age: {{age}}</p>
        <img src="{{image}}" alt="{{name}}" />
      </li>
    {{/each}}
  </ul>
</article> --}}

<article class="dinos">
  <h2>I have dinos as friends</h2>
  <ul>
    {{#each friends}}
      <li>
          <h3> {{name}}</h3>

          {{#em}}
            {{#bold}}
            Deze tekst staat in het vet {{firstname}},
            {{/bold}}
          {{/em}}

          {{#link "test" "https://www.google.com" "_blank"}}{{/link}}

          {{#button "primary"}}
            Dit is een knop {{#sum 1 2}} {{/sum}}
          {{/button}}


        {{#unless name}}
          <h3>Unknown</h3>
          {{/unless}}
        <p> age: {{age}}</p>
        <img src="{{image}}" alt="{{name}}" />
      </li>
    {{/each}}
  </ul>
</article>